ErrorDocument 404 /404.html
AddDefaultCharset utf-8
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(.*?).txt$ $1.html
    RewriteRule ^(.*?).org$ $1.html
    RewriteRule ^2013-09-30-hacks-hackers-buenos-aires-2013.html$ /2013-08-30-hacks-hackers-buenos-aires-2013.html [R=301,NC]
</ifModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "now"
    ExpiresByType text/html "now"
    ExpiresByType text/xml "now"
    ExpiresByType text/css "access plus 1 day"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
</IfModule>
